<!-- All index file store here you can access any one with the help of passcode -->


<!-- ==============================even odd game{1}===================================== -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>aaj class me bahut time pass hua he</h1>
    <h1><%= 5+5 %></h1>
    <!-- <h1><%= Math.random() %></h1> -->


    <!-- <br>
    <br>
    <br>
    <br>
    <br>

    <h1><%= a %></h1>



    <%        if(a%2==0){           %>
              <h3>even number</h3>
    <%        }  else{              %>
              <h3>odd number</h3>
    <%        }                     %>
 
</body>
</html> --> --> 


<!-- =======================filter value from arr{2}============================================================ -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


 
 <h1> Question : How to find specifice letter in array = <%= arr %></h1>
 <h1>Answer= <%= ac%></h1>
 <h1><%= va %></h1>
 
</body>
</html> -->


<!-- ===========================show arr data in frontend{3}========================================== -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>abhishek</h1>
    <%  for(let i of comments){   %>
  <div class="bg-blue-200 m-4 w-96 p-5 rounded" >
        <h2 class="p-2 text-xl">id: <%= i.id %></h2>
        <h2 class="p-2 text-xl">username: <%= i.username %></h2>
        <h2 class="p-2 text-base pb-5">comment: <%= i.comment %></h2>

        <a href="/edit/<%= i.id %>" class="bg-zinc-700 text-white py-2 px-6 rounded" >Edit</a>
    </div>
   <%  }   %>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%     for(let data of arr){      %>
           <h2><%= data %></h2>
    <%       }                        %>


</body>
</html>